body {
    background-color: #1183e7;
    color: #333;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
}

#converted-temp {
    font-size: 20px;
    font-weight: bold;
}
body {
    background-color: hsl(208, 86%, 15%); /* হালকা নীল ব্যাকগ্রাউন্ড */
    color: #333;
    font-family: Arial, sans-serif;
}
